.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(95, 99, 90);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 1cm;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -100px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(95, 99, 90) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

a {
  text-decoration: none;
}

.isbella {
  position: absolute;
  top: 77%;
  left: 25%;
  font-size: 20px;
  text-decoration-line: none;
}

.fernandina {
  position: absolute;
  top: 55%;
  left: 12%;
  font-size: 20px;
}

.floreana {
  position: absolute;
  top: 89%;
  left: 48%;
  font-size: 20px;
}

.espanola {
  position: absolute;
  top: 92%;
  left: 72%;
  font-size: 15px;
}

.santacruz {
  position: absolute;
  top: 65%;
  left: 49%;
  font-size: 20px;
}

.wolf {
  position: absolute;
  top: 20%;
  left: 14.5%;
  font-size: 20px;
}

.marchena{
  position: absolute;
  top: 16%;
  left: 47%;
  font-size: 20px;
}

.genovesa{
  position: absolute;
  top: 24%;
  left: 63%;
  font-size: 18px;
}

.pinta{
  position: absolute;
  top: 5%;
  left: 39%;
  font-size: 18px;
}

.santiago{
  position: absolute;
  top: 36%;
  left: 38%;
  font-size: 20px;
}

.rabida{
  position: absolute;
  top: 51.5%;
  left: 42%;
  font-size: 14px;
}

.pinzon{
  position: absolute;
  top: 60%;
  left: 42%;
  font-size: 14px;
}

.bartholomew{
  position: absolute;
  top: 43%;
  left: 49.5%;
  font-size: 15px;
}

.northseymour{
  position: absolute;
  top: 47.5%;
  left: 56%;
  font-size: 15px;
}

.santafe{
  position: absolute;
  top: 68%;
  left: 63%;
  font-size: 15px;
}

.sancristobal{
  position: absolute;
  top: 73%;
  left: 79%;
  font-size: 20px;
}

.darwin{
  position: absolute;
  top: 3%;
  left: 7%;
  font-size: 20px;
}
