.w3-image {
    max-width:100%
    height:auto
}

img {
    vertical-align:middle
}


a {
    color:inherit
}

.w3-container,.w3-panel {
    padding:0.01em 16px; 
    background-color:white;
    
}


/* การ์ด but no เงา */
.w3-card,.w3-card-2{display: inline-block; box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
/* การ์ดและเงา */
.w3-card-4,.w3-hover-shadow:hover{display: inline-block; box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
