.portrait-image {
    max-width:100%;
    height:auto;
}

img {
    vertical-align:middle
}


a {
    color:inherit
}

.portrait-container,.w3-panel {
    padding:0.01em 16px; 
    background-color:white;
    
}

.portrait-card,.portrait-hover-shadow:hover{display: inline-block; box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
