nav {
    margin-top: 0%;
  }

  body {
    font-family: 'Pridi', serif;
  }

  .container {
    position: relative;
    color: black;
  }

  .isbella {
    position: absolute;
    top: 80%;
    left: 25%;
    font-size: 30px;
  }

  .fernandina {
    position: absolute;
    top: 55%;
    left: 11%;
    font-size: 25px;
  }

  .floreana {
    position: absolute;
    top: 94%;
    left: 50%;
    font-size: 25px;
  }

  .espanola {
    position: absolute;
    top: 96%;
    left: 78%;
    font-size: 25px;
  }

  .santacruz {
    position: absolute;
    top: 68%;
    left: 53%;
    font-size: 25px;
  }

  .wolf {
    position: absolute;
    top: 22%;
    left: 9%;
    font-size: 20px;
  }
  
  .marchena{
    position: absolute;
    top: 22%;
    left: 49.5%;
    font-size: 18px;
  }

  .genovesa{
    position: absolute;
    top: 21%;
    left: 68.5%;
    font-size: 18px;
  }
  
  .pinta{
    position: absolute;
    top: 9%;
    left: 40%;
    font-size: 18px;
  }

  .santiago{
    position: absolute;
    top: 36%;
    left: 40%;
    font-size: 25px;
  }

  .rabida{
    position: absolute;
    top: 52%;
    left: 42%;
    font-size: 15px;
  }

  .pinzon{
    position: absolute;
    top: 61.5%;
    left: 44%;
    font-size: 15px;
  }

  .bartholomew{
    position: absolute;
    top: 43.5%;
    left: 49%;
    font-size: 15px;
  }

  .northseymour{
    position: absolute;
    top: 48%;
    left: 56%;
    font-size: 15px;
  }

  .santafe{
    position: absolute;
    top: 71%;
    left: 65%;
    font-size: 20px;
  }

  .sancristobal{
    position: absolute;
    top: 76%;
    left: 85%;
    font-size: 22px;
  }

  .darwin{
    position: absolute;
    top: 4%;
    left: 1%;
    font-size: 22px;
  }

  ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
    width: 20%;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }