body,
html {
  font-family: 'Itim', cursive;
  margin: 0;
  padding: 0;
  color: inherit;
  min-width: 1024px;
}

h1 {
  font-family: 'Itim', cursive;
  color: inherit;
  display: block;
  margin: 3em;
  text-align: center;
}

h2 {
  font-family: 'Itim', cursive;
  color: inherit;
  display: block;
  text-align: center;
}

.horizontal-slider.slick-dotted,
.vertical-slider.slick-dotted {
  margin-bottom: 0;
}

.horizontal-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.horizontal-slider .slide .slide-content {
  margin: 5em;
}

.vertical-slider {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.vertical-slider > .slick-dots {
  bottom: auto;
  left: .5em;
  padding: 0;
  right: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: auto;
}
.vertical-slider > .slick-dots li {
  display: block;
  margin: 0 .125em;
}
.vertical-slider > .slick-dots li button {
  padding: .125em;
}
.vertical-slider .slide {
  height: 100vh;
}

.slide {
  color: black;
  display: inline-block;
}

/* picture for each slide add number ex.(1n)(2n) 
   use border to close gap between slide  */
.vertical-slide:nth-child(1n) {
  background: url("images/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  /*background-position-x: center;*/
  background-position-y: bottom;
  border: 6px solid #4cd2ff;
  background-color: #4cd2ff ;
}
.vertical-slide:nth-child(2n) {
 background: url("");
 background-color: #4cd2ff;
}
.vertical-slide:nth-child(3n) {
  background: url("");
  background-color: #4cd2ff;
}
.vertical-slide:nth-child(4n) {
  background: url("");
  background-color: #4cd2ff;
}

.vertical-slide:nth-child(5n) {
  position: relative;
  background: url("");
  background-color: #4cd2ff;
}

.slide-content {
  position: relative;
}

.slick-dots {
  bottom: 0;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: auto;
}
.slick-dots li button::before {
  color: #fff;
}
.slick-dots li.slick-active button::before {
  color: #fff;
}

.slick-prev,
.slick-next {
  z-index: 10;
}

.slick-next {
  right: 35px;
}

.slick-prev {
  left: 35px;
}

.img-round,.img-round-large {
  border-radius:8px
}