body,
html {
  font-family: 'Itim', cursive;
  margin: 0;
  padding: 0;
  color: inherit;
}

h1 {
  font-family: 'Itim', cursive;
  color: inherit;
  display: block;
  margin: 3em;
  text-align: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: greenyellow;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.isbella {
  position: absolute;
  top: 20cm;
  left: 12cm;
  font-size: 30px;
}

.fernandina {
  position: absolute;
  top: 14cm;
  left: 5.5cm;
  font-size: 30px;
}

.floreana {
  position: absolute;
  top: 20cm;
  left: 25.5cm;
  font-size: 30px;
}

.espanola {
  position: absolute;
  top: 21.5cm;
  left: 39.5cm;
  font-size: 30px;
}

.santacruz {
  position: absolute;
  top: 17cm;
  left: 27cm;
  font-size: 30px;
}

.wolf {
  position: absolute;
  top: 5.5cm;
  left: 5cm;
  font-size: 15px;
}

.marchena{
  position: absolute;
  top: 5.5cm;
  left: 25cm;
  font-size: 20px;
}

.genovesa{
  position: absolute;
  top: 5.5cm;
  left: 34.7cm;
  font-size: 15px;
}

.pinta{
  position: absolute;
  top: 2.5cm;
  left: 20.2cm;
  font-size: 20px;
}

.santiago{
  position: absolute;
  top: 8.5cm;
  left: 20.5cm;
  font-size: 30px;
}

.rabida{
  position: absolute;
  top: 13cm;
  left: 21.5cm;
  font-size: 15px;
}

.pinzon{
  position: absolute;
  top: 15cm;
  left: 22cm;
  font-size: 20px;
}

.bartholomew{
  position: absolute;
  top: 10.5cm;
  left: 25cm;
  font-size: 15px;
}

.northseymour{
  position: absolute;
  top: 11.5cm;
  left: 29cm;
  font-size: 15px;
}

.santafe{
  position: absolute;
  top:  17.5cm;
  left: 32.5cm;
  font-size: 30px;
}

.sancristobal{
  position: absolute;
  top: 18.5cm;
  left: 42cm;
  font-size: 30px;
}

.darwin{
  position: absolute;
  top: 2cm;
  left: 0.5cm;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
  width: 20%;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: blue;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}


.horizontal-slider.slick-dotted,
.vertical-slider.slick-dotted {
  margin-bottom: 0;
}

.horizontal-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.horizontal-slider .slide .slide-content {
  margin: 5em;
}

.vertical-slider {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.vertical-slider > .slick-dots {
  bottom: auto;
  left: .5em;
  padding: 0;
  right: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: auto;
}
.vertical-slider > .slick-dots li {
  display: block;
  margin: 0 .125em;
}
.vertical-slider > .slick-dots li button {
  padding: .125em;
}
.vertical-slider .slide {
  height: 100vh;
}

.slide {
  color: black;
  display: inline-block;
}

/* picture for each slide add number ex.(1n)(2n) 
   use border to close gap between slide  */
.vertical-slide:nth-child(1n) {
  background: url("svg.png");
  background-size: 1900px 915px;
  border: 6px solid #4cd2ff;
  background-color: #4cd2ff ;
}
.vertical-slide:nth-child(2n) {
 background: url("");
 background-color: #4cd2ff;
}
.vertical-slide:nth-child(3n) {
  background: url("");
  background-color: #4cd2ff;
}
.vertical-slide:nth-child(4n) {
  background: url("");
  background-color: #4cd2ff;
}

.vertical-slide:nth-child(5n) {
  background: url("");
  background-color: #4cd2ff;
}

.slide-content {
  position: relative;
}

.slick-dots {
  bottom: 0;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: auto;
}
.slick-dots li button::before {
  color: #fff;
}
.slick-dots li.slick-active button::before {
  color: #fff;
}

.slick-prev,
.slick-next {
  z-index: 10;
}

.slick-next {
  right: 35px;
}

.slick-prev {
  left: 35px;
}

.img-round,.img-round-large {
  border-radius:8px
}